.Greet_person {
    font-size: 20px;
    color: #002960;
    position: relative;
    left: 65%;
    width: auto;
    display: inline-block;
}

.main_teamLogo {
  width: 10%;
    margin-top: 3px;
    margin-left: 1%;
}

.top_greeting {
	height: 4%;
}

.teamName {
  color: #002960;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 26px;
}

